<br>
<br>

<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<!-- THIS IS WHERE MARKDOWN FORMAT BEGINS -->

<hr />
<% @articles.each do |article| %>
  <h2><%= link_to article.title, article %></h1>
    <h3> in
        <% @categories.each do |category| %>
        <% if category.id == article.category_id %>
          <%= link_to category.title, category %>
        <%end%>
      <%end%>
    </strong>
    </h3>
    <br>
  <p>
    <%= markdown(article.content) %>
  </p>
  <br>
  <h4>Published on <%= article.created_at %> by
    <% @authors.each do |author| %>
      <% if author.id == article.author_id %>
        <%= author.name %>
      <%end%>
    <%end%>
    <br>
    Last updated <%= time_ago_in_words article.updated_at %> ago
  </h4>

  <% if article != @articles.last %>
  <hr />
  <% end %>
<% end %>

<hr />
<h4><%= link_to 'New Article', new_article_path %></h4>
