<br>
<br>

<div class="floatright">
<%= link_to 'Edit Article', edit_article_path(@article) %>
</div>
<h1><%= @article.title %></h1>
<h3>
  Category:
  <% @categories.each do |category| %>
      <% if category.id == @article.category_id %>
        <%= link_to category.title, category %>
      <%end%>
    <%end%>
</h3>
<hr />

<p>
  <%= markdown(@article.content) %>
</p>

<h4>
  Published on <%= @article.created_at %> by
  <% @authors.each do |author| %>
    <% if author.id == @article.author_id %>
      <%= link_to author.name, author %>
    <%end%>
  <%end%>
  <br>
  Last updated <%= time_ago_in_words @article.updated_at %> ago
</h4>

<%= link_to "Back to Index", articles_path %>

<div class="floatright">
<%= link_to 'Destroy this article', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
