<br>
<br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Article count:</strong>
  <%= @category.article_count %>

</p>

<br>
<br>
  <h3>Articles:</h3>

  <% @articles.each do |article| %>
    <% if article.category_id == @category.id %>
    <h3><%= link_to article.title, article %></h3>
    <% end %>
  <% end %>




<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
